<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인한 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- axios 사용을 위한 cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <nav class="nav">
      <a class="nav-link active" aria-current="page" href="#">죠르디</a>
      <a class="nav-link" href="#">스카피</a>
      <a class="nav-link" href="#">앙몬드</a>
      <a class="nav-link" href="/set" onclick="gologin">로그인</a>
    </nav>
    <h1>수업21_실습2_session</h1>
    <div>여기는 HOME 이다니니!</div>
    <div>로그인이 안돼있다니니! 로그인을 해라니니!!</div>
  </body>
  <script>
    function gologin() {
      axios({
        method: 'post',
        url: '/set'
      }).then((res) => {
        console.log(res.data)
      })
    }
  </script>
</html>