@mixin ballshape($color) {
  background-color: $color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

// @mixin location($id, $position) {
//   @keyframes move#{$id} {
//     from {
//       top: 0px;
//     }
//     to {
//       top: $position;
//     }
//   }
// }

// @include move(1, 30px);
// @include move(2, 50px);
// @include move(3, 100px);

.container {
  .ball {
    &.ball1 {
      @include ballshape(red);
    }
    &.ball2 {
      @include ballshape(orange);
    }
    &.ball3 {
      @include ballshape(yellow);
    }
  }
}
