<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css" />
    <!-- /public 부분의 기본값 /static 인데 use()함수로 변경함 -->
  </head>
  <body>
    <div class="box"></div>
    <img src="/public/img/jordy.png" />
    <!-- /public 부분의 기본값 /static 인데 use()함수로 변경함 -->

  </body>
</html>