<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수업13_실습2_post으로 정보받기</title>
  </head>
  <body>
    <!-- 00(email)님 환영합니다. -->
    <%=name%>님 환영합니다.
  </body>
</html>