<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수업15_실습2_파일 업로드(동적 폼 전송)</title>
    <!-- axios 불러오는 코드 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style>
    #dynamic-upload-result {
      position: relative;
      /* display: flex;
      justify-content: center; */
    }
    img {
      width: 100px;
      height: 100px;
    }

    .box {
      text-align: center;
      position: relative;
      background-color: rgb(238, 240, 222);
      border-radius: 30px;
      width: 230px;
      height: 280px;
    }
  </style>
  <body>
    <h2>수업15_실습2_파일 업로드(동적 폼 전송)</h2>
    <form name="signup">
      <input type="text" name="userid" placeholder="아이디" value="jordy123" />
      <br />
      <input
        type="password"
        name="userpw"
        placeholder="비밀번호"
        value="1234"
      />
      <br />
      <input type="text" name="username" placeholder="이름" value="jordy" />
      <br />
      <input type="text" name="userage" placeholder="나이" value="999" />
      <br />
      <input type="file" name="userfile" />
      <br />
      <br />
      <button type="button" onclick="dynamicUpload()">
        (동적 폼 전송)회원가입
      </button>
      <div id="dynamic-upload-result"></div>
    </form>
  </body>

  <!-- 파일보다 폼데이터를 먼저 어팬드해야한다..? -->
  <script>
    function dynamicUpload() {
      const form = document.forms['signup'];
      const formData = new FormData();
      formData.append('userfile', form.userfile.files[0]);
      formData.append('userid', form.userid.value);
      formData.append('userpw', form.userpw.value);
      formData.append('username', form.username.value);
      formData.append('userage', form.userage.value);

      axios({
        method: 'post',
        url: '/uploads/dynamic',
        data: formData,
        headers: {
          'Content-type': 'multipart/form-data',
        },
      }).then((res) => {
        console.log(res.data);
        const result = document.getElementById('dynamic-upload-result');
        result.innerHTML = `
        <div class="box">
            <img src="/${res.data.src}"  />
            <h3>${res.data.id}님 환영합니다!</h3>
            <p>비밀번호: ${res.data.pw}</p>
            <p>이름: ${res.data.name}</p>
            <p>나이: ${res.data.age}</p>
            </div>
            `;
      });
    }
  </script>
</html>
