<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>로그인</h1>
    <!-- form  전송은 클라이언트가 서버로 데이터를 보내는 방법 중 하나이다. -->
    <!-- action : "요청을 보낼 주소" (내 서버에 보낸다라는 가정 하에 도메인을 뗀 나머지 주소를 입력하면 된다.)
    ex) localhost:8000/get/test  이라는 곳으로 보내고 싶다면  action="/get/test"-->
    <!--  method : 어떤 방식의 요청을 사용할 지 (get/post -->
    <form action="/get" method="get" name="login" target="_blank">
      ID: <input type="text" name="id" />
      PW: <input type="password" name="pw" />
      <input type="radio" name="gender" value="남자" id="man" /> <label for="man">남자</label>
      <input type="radio" name="gender" value="여자" id="woman" /> <label for="woman">여자</label>
      <!-- button type이 submit인 경우, 버튼을 감싸고 있는 form 태그의 정보에 맞게 form을 제출한다. -->
      <button type="submit">제출</button>
    </form>
    <br />
    <fieldset>
      <legend>회원가입 get 요청</legend>
      <form action="/get/singin" method="get">
        ID: <input type="text" name="id" />
        PW: <input type="password" name="pw" />
        이름: <input type="text" name="name" />
        이메일: <input type="email" name="email" />
        <button type="submit">제출</button>
      </form>
    </fieldset>
    <br />
    <fieldset>
      <legend>회원가입 post 요청</legend>
      <form action="/post" method="post">
        ID: <input type="text" name="id" />
        PW: <input type="password" name="pw" />
        이름: <input type="text" name="name" />
        이메일: <input type="email" name="email" />
        <button type="submit">제출</button>
      </form>
    </fieldset>

    <br />
    <fieldset>
      <legend>회원가입 post 요청</legend>
      <form action="/post/welcome" method="post">
        ID: <input type="text" name="id" />
        PW: <input type="password" name="pw" />
        이름: <input type="text" name="name" />
        이메일: <input type="email" name="email" />
        <button type="submit">제출</button>
      </form>
    </fieldset>
  </body>
  <script>
    console.dir(document.forms["login"])
    // console.log(document.forms["login"])
  </script>
</html>