<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>소켓</title>
    <!-- 소켓io를 클라이언트에서 불러오는 스크립트 -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h3>소켓 연습</h3>
    <button onclick="hello()">hello</button>
    <!-- 소켓은 각각 클라이언트에게만 정보를 전달할 수 있다. 
      만약 전체 클라이언트에게 정보를 전달하고자 하면 server에서 보내줘야한다! -->
    <button onclick="entry()">입장</button>
    <!-- 소켓 객체 생성 -->
    <script>
      // 커넥션은 id()를 통해 커넥션 이벤트가 발생한다. -> 이걸 서버에서 받아줘야 함!
      const socket = io();
      // 소켓을 이용해 데이터 전송하는 함수 : emit
      // 소켓을 이용해 데이터 수신하는 이벤트 : on
      function hello() {
        // (전송할 이벤트 이름 [, 전송할 데이터])
        // 전송할 데이터의 형태는 자유롭게 쓰면 된다. (문자열, 숫자, 객체)
        socket.emit("hello", { msg: "죠하!" });
      }

      // 이벤트를 특정함수 안에 넣어둘 때 주의할 점, 해당 이벤트가 1번만 실행하게끔 해야한다.
      // 그래서 대체로 특정함수 안에 이벤트를 잘 넣지 않음!
      socket.on("bye", (res) => {
        console.log(res);
      });

      function entry() {
        socket.emit("entry");
      }

      socket.on("notice", (res) => {
        console.log(res.msg);
      });
    </script>
  </body>
</html>
