<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>수업21_실습1_Cookie</title>
    <link rel="stylesheet" href="../static/css/style.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- axios 사용을 위한 cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="popupLabel">안내</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id='jordyimg' src="../static/img/jordy.jpeg" /><br />
            <br />

            죠랭이들 서울숲에서 11월 한달 간 나의 숲티켓 메시지를 찾아봐니니! <br>
            카카오 맵에서 '죠르디 서울숲'을 검색해 봐니니!
            <br />
            <br />
          </div>
          <div id="modal-footer">
            <input type="checkbox" class="cb" id="cb1" onchange="sendCb(this)" />
            <label class="cb" for="cb1">오늘 그만 보기</label>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script>
      // const myModal = new bootstrap.Modal('#popup')
      // // myModal.show() //팝업창 오늘그만보기 유무에 따라 보이게, 안보이게 변경해줘야 한다.
      console.log("<%noPopup%>")
      const myModal = new bootstrap.Modal('#popup')
      if ("<%noPopup%>" != 'y') myModal.show()
      // "<%noPopup%>"에 값이 y가 아니라면, 팝업을 보여주겠다라는 코드.

      function noPupup() {
        const checkbox = document.getElementById("no-popup");
        if (checkbox.checked) { //체크가 되있다면 아래 코드 작동!
          axios({
            method: 'post',
            url: '/setCookie'
          }).then((res) => {
            console.log(res.data)
            //myModal : hide;
          })
        }

      }

     
    </script>
  </body>
</html>