.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(69, 243, 182);
    animation: move 3s linear 6;

}

@keyframes move {
    0%{
        left: 0px;
        
    }
    25%{            
        left: 300px;
        top: 0px;     
    }
    50%{
        left: 300px;
        top: 300px;   
    }

    75%{
        top: 300px; 
        left: 0px;
          
    }
    
    100%{
    top: 0px;
    } 
} 
