p.lion {
   background-color: red; 
}

ul .lion {
    background-color: greenyellow; 
}

#tiger{
    background-color: yellow;
}

.lion{
    color: sienna;
}

ul > .lion{
    font-weight: 1000;
}

#tiger + li{
    background-color: skyblue;
}

li.lion ~li{
    background-color: orange;
}