.container {
  display: flex;
}
.box {
  height: 100px;
  width: 100px;
  background-color: rgb(4, 255, 171);
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

@media screen and (max-width: 700px) {
  .box {
    background-color: rgb(199, 145, 248);
  }
  .container {
    flex-direction: column;
  }
}
