/* BEM 네이밍 규칙 : CSS이름을 정하는 규칙 */
/* .FuncComponent__test-css--active {
} */
.test-css {
  background-color: yellow;
  font-size: 30px;
}
.prac-css1 {
  height: 300px;
  width: 500px;
  padding: 15px;
}

.prac-css2 {
  background-color: #f9eee0;
  color: #dc8159;
  text-align: center;
  padding: 5px;
}

.prac-css3 {
  text-align: center;
}

.Section__section {
  margin-bottom: 20px;
  border: 2px solid blue;
}

.Section__title {
  color: red;
}

.Prac2__food {
  color: red;
}

.Prac2_2__container {
  background-color: #f6f5dc;
  width: 300px;
  height: 300px;
  text-align: center;
  padding: 3px;
}

.Prac2_2__title {
  color: #ff7e47;
}

.Prac2_2__bookcontainer {
  text-align: left;
  padding: 10px;
}

.Prac2_2__booktitle {
  font-size: 18px;
  font-weight: 800;
  margin-top: 10px;
}

.Prac2_2__bookcontainer {
  font-weight: 600;
  padding: 18px;
  line-height: 25px;
}
